<!-- views/users/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>User List</h1>
    <ul>
        <% if (users && users.length > 0) { %>
            <% users.forEach(user => { %>
                <li>
                    <%= user.username %> - <%= user.email %> - <%= user.userid %>
                    <a href="/users/<%= user.userid %>/edit">Edit</a>
                    <a href="/users/<%= user.userid %>/delete">Delete</a>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No users available.</p>
    <% } %>
    <a href="/users/new">Add New User</a>
    <%- include('./partials/foot.ejs') %>
</body>
</html>
